# Sets location of the npmcache folder. Defaults to "%AppData%\npm-cache" on Windows and "~/.npm" on Posix
cache=npmcache
# Whether or not to do SSL key validation when making requests to the registry via https. Default: true
strict-ssl=false
always-auth=true

# this is the Auth Token, to generate follow the developer guide NPM Section at https://confluence.maerskdev.net/display/MDevNet/Developer+Guide
email=
registry=https://tools-nexus.maerskdev.net/repository/npm-group-internal/
_auth=
scripts-prepend-node-path=true